body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.main-container {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 700px;
  gap: 20px;
}

.controls-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.controls-container label {
  font-weight: bold;
}

.controls-container input {
  cursor: pointer;
  width: 100%;
}

.box-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
}

.box {
  overflow: hidden;
  background-color: #000;
  width: 100px;
  height: 100px;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex-value {
  font-weight: bold;
  color: white;
}

.hide {
  display: none;
}

.css-code {
  scale: 1.2;
  margin-left: 6vw;
  transition: all ease 0.3s !important;
}


@media (max-width: 600px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .box-container {
    width: 100%;
    justify-content: center;
  }
}

/* From Uiverse.io by Yaya12085 */
.code-editor {
  position: relative;
  max-width: 300px;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.title {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: rgb(212 212 212);
}

.icon {
  width: 20px;
  transition: .2s ease;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
}

.property {
  margin-left: 30px;
}

.property:hover {
  cursor: text;
}

.editor-content .color-0 {
  color: rgb(86 156 214);
}

.editor-content .color-1 {
  color: rgb(182 206 168);
}

.editor-content .color-2 {
  color: rgb(156 220 254);
}

.editor-content .color-3 {
  color: rgb(207 146 120);
}

.color-preview-1,
.color-preview-2 {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
}

.color-preview-1 {
  background-color: #1d1e22;
}

.color-preview-1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-copy {
  position: absolute !important;
  right: 2%;
  bottom: -5%;
  margin: 20px 0px;
  --button-bg: #dfdfdf;
  --button-hover-bg: #464646;
  --button-text-color: #101010;
  --button-hover-text-color: #8bb9fe;
  --button-border-radius: 10px;
  --button-diameter: 36px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
  --tooltip-font-size: 12px;
  /* 👆 this field should not be empty */
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
}

.btn-copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.btn-copy>.cp-tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-copy>.cp-tooltip::before {
  content: attr(data-text-initial);
}

.btn-copy>.cp-tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.btn-copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cp-check-mark {
  display: none;
}

/* actions */

.btn-copy:hover .cp-tooltip,
.btn-copy:focus:not(:focus-visible) .cp-tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.btn-copy:focus:not(:focus-visible) .cp-tooltip::before {
  content: attr(data-text-end);
}

.btn-copy:focus:not(:focus-visible) .cp-clipboard {
  display: none;
}

.btn-copy:focus:not(:focus-visible) .cp-check-mark {
  display: block;
}

.btn-copy:hover,
.btn-copy:focus {
  background-color: var(--button-hover-bg);
}

.btn-copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.btn-copy:hover svg {
  color: var(--button-hover-text-color);
}